html {
    scroll-behavior: smooth;
}
body {
    position: relative;
}

.banner-hero {
    box-sizing: border-box;
    width: 100%;
}
.banner-hero img {
    z-index: -1;
    position: absolute;
    height: 520px;
    object-fit: cover;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
}

.menu-blur {
    backdrop-filter: blur(5px);
}

.logo{
    height: 66px;
    display: flex;
    align-items: center;
}
.logo img{
    width: 250px;
    max-width: 100%;
}

.menu ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    color: var(--p5);
}

.menu ul li {
    text-transform: uppercase;
    padding: 10px 10px;
    flex-wrap: nowrap;
}

.menu-centro a {
    font-weight: 500;
}

.menu-centro li:hover {
    transition: .3s;
    transform: scale(1.04);
    font-weight: 700;
} 

.menu-esquerda {
    display: flex;
    align-items: center;
}

.menu-esquerda .whatsapp {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 6px;
    padding: 6px 10px; 
}

.menu-esquerda li a:nth-child(1) {
    position: relative;
}

.menu-esquerda ul li::after {
    content: 'teste';
    background: #8800ff;
    border-radius: 50%;
    height: 5px;
    position: absolute;
    top: 5px;
}

.texto-intro {
    padding-top: 60px;
    padding-left: 20px;
}

.texto-intro h1 {
    font-family: 'lilita';
    font-weight: 400;
    font-size: 4.5rem;
}

.texto-intro p {
    padding-bottom: 20px;
}

.texto-intro p span {
    background-color: var(--p1);
    padding: 2px 4px;
    border-radius: 4px;
}

.texto-intro a {
    box-shadow: 1px 1px 5px #40210493; 
}

.texto-intro a:hover {
    background-color: #be0606; 
    transition: .3s;
}

.hamburguer{
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--p3);
    min-height: 65px;
}

.menu-hamburguer{
    display: flex;
    flex-direction: row;
    position: initial;
    gap: 1rem;
    flex: 1;
    justify-content: space-around;
}


@media (max-width:950px) {
   
    .texto-intro h1 {
        font-size: 3.5rem;
    }

    .menu{ flex-direction: column;}
   
    .menu ul li {
        padding: 0px 5px;
    }

    .hamburguer {
        display: block;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 101;
        top: 1rem;
        right: 1rem;
        padding: 4px;
        width: 2rem;
        height: 2rem;
        border: none;
        background: rgba(255, 255, 255, 0.574);
        cursor: pointer;
        font-weight: bold;
        font-style: normal;
        font-size: 1rem;
    }

    .closeIcon {
        display: none;
    }

    .menu-hamburguer {
        position: absolute;
        transform: translateY(-100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        background:  rgba(190, 6, 6, 0.9); 
        color: white;
        list-style: none;
        padding-top: 4rem;
        flex-direction: column;
        height: fit-content;
        padding-bottom: 3rem; 
    }

    .menu-hamburguer .menu-centro{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 1rem;
        padding-bottom: 3rem;
    }

    .menu-hamburguer .menu-esquerda{
        display: flex;
        justify-content: center;
    }

    .showMenu {
        transform: translateY(0);
    }

}

@media (max-width:650px) {
    .texto-intro h1 {
        font-size: 2.75rem;
    }

    .texto-intro p {
        font-size: 1rem;
    }
}


@media (max-width:500px) {
    .texto-intro {
        margin: 0 auto;
        justify-self: center;
        padding: 40px 20px;
    }

    .banner-hero img {
        display: block;
        width: 100%;
        height: 600px;
        object-fit: cover;
        z-index: -1;
    }

    .banner-hero {
        box-sizing: border-box;
        width: 100%;
    }
    
}

@media (max-width: 380px) {
    .texto-intro {
        padding: 10px 10px;
    }

    .texto-intro h2 {
        text-transform: 1.5rem;
        font-weight: 500;
    }

    .texto-intro h1 {
        font-size: 2rem;
    }

    .texto-intro p {
        font-size: 0.8rem;
        font-weight: 200;
    }
}


/* ___ Invasão do @rochacbruno
 from openai import ChatGPT
gpt = ChatGPT()
gpt.make_css(alinhar, deixar bonito).responsivo().animate()
 */

